
.cart-section{
    padding:1.5rem;
  }
  
  .cart-cont{
      display: grid;
     
      grid-template-areas:"label ."
                          "item sum";
     
  }
  
  .cart-item{
    display: grid;
    grid-area: item;
    overflow-y: scroll;
  }

  .cart-item::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
 .cart-item::-webkit-scrollbar-track {
    background:var(--lightGrey); 
  }
   
  /* Handle */
  .cart-item::-webkit-scrollbar-thumb {
    background: var(--secbg-color); 
  }
  


  
  .cart-label{
    display: grid;
    grid-area: label;
    padding: 1rem;
    letter-spacing: 1px;
    grid-template-columns: 531px 272px 1fr;
  }
  
  .cartitem-one{
      border-bottom: 1px solid var(--lightGrey);
      border-top-left-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 152px;
  }
  
  .item-name{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* max-width: 23rem; */
    width: 318px;
    padding: 1rem;
  }
  
  .item-name ul{
  list-style:none;
  }
  
  .item-name img{
      width: 110px;
      height: 130px;
      border-radius: 5px;
  }
  
  .item-flex{
      display: flex;
      width: 180px;
      justify-content: space-between;
     
      margin-right: 10px;
  }
  
  .cartitem-one span{
      position: relative;
      border: 1px solid var(--lightGrey);
      padding: 5px 20px;
      border-radius: 5px;
  }
  
  .cartitem-one span .down{
      top: 30%;
      right: 8%;
      position: absolute;
      cursor: pointer;
  }
  
  .cartitem-one span .down:hover{
      color:var(--lightGrey);
  }
  
  .cartitem-one span .up{
      position: absolute;
      cursor: pointer;
      top: 2%;
      right: 8%;
  }
  .cartitem-one span .up:hover{
      color:var(--lightGrey);
  }
  
  /* cart summary */
  
  .cart-sum{
      background-color: var(--secbg-color);
      padding: 25px;
      width: 284px;
      grid-area:sum;
      border-radius: 10px;
      height: 402px;
      display: grid;
      grid-template-rows: 86px 124px 50px 79px;
      }
  
  
  .cart-sum div button{
      margin-left: 78px;
  }
  .cart-sum-flex{
      display:flex;
      justify-content: space-between;
  }
  
  .border-bottom{
      border-bottom:1px solid var(--lightGrey);
      margin-top: 13px;
  }
  
  .button-shopping{
      background: transparent;
      color: var(--font-primary);
      border: 2px solid var(--lightGrey);
      border-radius: 5px;
      padding: 10px;
      margin-top: 66px;
      letter-spacing: 1px;
      cursor:pointer;
  }
  
  .remove-btn:hover{
      color:var(--secbg-color)
  }
  .button-shopping:hover{
      color:var(--mainBrandColor);
  }
  