aside{
    width:70%;
    padding:1rem;
}

#icon{
    width: 20px;
    cursor: pointer;
}

a{
    text-decoration:none;
}
.brand{
    border-bottom: 1px solid var(--lightGrey);
    padding: 21px 0px;
    cursor: pointer;
}
.brand label{
font-size: 0.8rem;
}

.price-range{
    border-bottom: 1px solid var(--lightGrey);
    padding: 5px 0px;
}

.price-range div{
    margin-bottom: 14px;
}